In [2]:
import numpy as np

## Datatypes and Attributes
 Numpy's main datatype is ndarray

In [3]:
arr = np.array([1,2,3,4])
arr

array([1, 2, 3, 4])

In [4]:
type(arr)

numpy.ndarray

In [6]:
a2 = np.array([[1,2,3,4],[5,6,7,8]])
a3 = np.array([[[1,2,3],
                 [4,5,6],
                 [7,8,9]],
                 [[10,11,12],
                 [13,14,15],
                 [16,17,18]]])

In [14]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

## Attributes

In [17]:
print(f'Shape -> {a3.shape}')#prints out the shape of array
print(f'dimension -> {a3.ndim}') #number of dimensions in array
print(f'Type -> {a3.dtype}')#to know the data type of elements in the array
print(f'Size-> {a3.size}') #number of elements in the array

Shape -> (2, 3, 3)
dimension -> 3
Type -> int32
Size->18

## Creating dataframe from NumPy array

In [20]:
import pandas as pd 
df = pd.DataFrame(a2)
df

   0  1  2  3
0  1  2  3  4
1  5  6  7  8